[Unit]
Description=Prepare default files for /data and /security partitions
DefaultDependencies=no
Requires=data.mount security.mount
After=partition-disk.service data.mount security.mount
Before=local-fs.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/prepare-files
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
