{
 "log-level":              "debug",
 "es-file":                "/etc/ednl/sense/esnumber",
 "label-config-path":      "/etc/ednl/sense/config/label/latest",
 "module-config-path":     "/etc/ednl/sense/config/module/latest",
 "sensor-data-path":       "/var/ednl/sense/sensor/",
 "events-data-path":       "/var/ednl/sense/events/"
}
