---
#- name: App - check Exa-run status
#  stat:
#    path: /usr/local/bin/exa-run
#  register: exarun

#legacy
#- name: App - Stop current process
#  action: command forever stop {{ appshort }}
#  ignore_errors: yes

- name: App - Stop current process
  command: /usr/local/bin/exa-run stop {{ appshort }}
  ignore_errors: yes

- name: App - Current symlink Local
  file:
    state: link
    path: "/home/app/sense/{{ app }}/current"
    src: "builds/{{ appbuildinfo.name }}-{{ appbuildinfo.version }}-{{ appbuildinfo.branch | replace('/','_') }}-{{ appbuildinfo.build }}"
    force: yes
  when: lookup('vars', 'dev_' + appshort) == "n"

- name: App - Current symlink Dev
  file:
    state: link
    path: "/home/app/sense/{{ app }}/current"
    src: "/home/app/sense/{{ app }}/dev"
    force: yes
  when: lookup('vars', 'dev_' + appshort) == "y" and ansible_facts.machine != "armv7l"

- name: App - Start process
  shell: "NICE={{ nice }} /usr/local/bin/exa-run start {{ appshort }} /home/app/sense/{{ app }}/current/{{ apppackageinfo.main }}"
#  when: exarun.stat.exists

- name: App - Cronjob for activating after reboot
  cron:
    name: "reboot_{{ app }}" 
    special_time: "reboot"
    job: "NICE={{ nice }} /usr/local/bin/exa-run start {{ appshort }} /home/app/sense/{{ app }}/current/{{ apppackageinfo.main }}"
#  when: exarun.stat.exists

#legacy
#- name: App - Start process(forever)
#  command: NODE_ENV={{ target }} forever --killSignal=SIGTERM -a --uid {{ appshort }} start -c {{ forever.command }} /home/app/sense/{{ app }}/current/{{ apppackageinfo.main }}
#  when: not exarun.stat.exists
#  with_items: apppackageinfo.sub

#legacy
#- name: App - Cronjob for activating after reboot(forever)
#  cron:
#    name: "reboot_{{ app }}"
#    special_time: "reboot"
#    job: "NODE_ENV={{ target }} forever --killSignal=SIGTERM -a --uid {{ appshort }} start -c {{ forever.command }} /home/app/sense/{{ app }}/current/{{ apppackageinfo.main }}"
#  when: not exarun.stat.exists

#legacy
#- name: App - Stop current subprocesses(forever)
#  command: forever stop {{ item.short }}
#  ignore_errors: yes
#  when: apppackageinfo.sub is defined
#  with_items: "{{ apppackageinfo.sub }}"

- name: App - Stop current subprocesses
  command: /usr/local/bin/exa-run stop {{ item.short }}
  ignore_errors: yes
  when: apppackageinfo.sub is defined
  with_items: "{{ apppackageinfo.sub }}"

#legacy
#- name: App - Stop current subprocesses(kill leftover processes)(forever)
#  command: \"ps aux | grep '{{ app }}/current/{{ item.exec }}' | grep -v grep | awk '{system( "kill -9 "$2)}'\"
#  ignore_errors: yes
#  when: apppackageinfo.sub is defined
#  with_items: "{{ apppackageinfo.sub }}"

- name: App - Start subprocess
  shell: "NICE={{ nice }} /usr/local/bin/exa-run start {{ item.short }} /home/app/sense/{{ app }}/current/{{ item.exec }}"
  when: apppackageinfo.sub is defined
  with_items: "{{ apppackageinfo.sub }}"

- name: App - Cronjob for activating subprocessed after reboot
  cron:
    name: "reboot_{{ item.short }}"
    special_time: "reboot"
    job: "NICE={{ nice }} /usr/local/bin/exa-run start {{ item.short }} /home/app/sense/{{ app }}/current/{{ item.exec }}"
  when:
   - apppackageinfo.sub is defined
  with_items: "{{ apppackageinfo.sub }}"

#legacy
#- name: App - Start subprocess(forever)
#  action: command NODE_ENV={{ target }} forever --killSignal=SIGTERM -a --uid {{ item.short }} start -c {{ forever.command }} /home/app/sense/{{ app }}/current/{{ item.exec}}
#  when:
#   - apppackageinfo.sub is defined
#   - not exarun.stat.exists
#  with_items: "{{ apppackageinfo.sub }}"

#legacy
#- name: App - Cronjob for activating subprocessed after reboot(forever)
#  action: cron name="reboot_{{ item.short }}" special_time="reboot" job="NODE_ENV={{ target }} forever --killSignal=SIGTERM -a --uid {{ item.short }} start -c {{ forever.command }} /home/app/sense/{{ app }}/current/{{ item.exec }}"
#  when:
#   - not exarun.stat.exists
#   - apppackageinfo.sub is defined
#  with_items: "{{ apppackageinfo.sub }}"

