---
- name: Exa-run - Make sure /usr/local/bin exists
  file:
    group: root
    owner: root
    path: /usr/local/bin
    state: directory


- name: Exa-run - Copy Exa-run script
  copy:
    dest: /usr/local/bin/exa-run
    mode: 0755
    src: ../files/usr/local/bin/exa-run.sh
  notify: Exa-run - restart all
  when: appshort == "dmc"

# both tasks look the same, except the no notify doesn't restart all
# exa-run processen because it will only copy exa-run when its missing.

- name: Exa-run - Copy Exa-run script (no notify)
  copy:
    dest: /usr/local/bin/exa-run
    mode: 0755
    src: ../files/usr/local/bin/exa-run.sh
  when: appshort != "dmc"

- name: Cleanlogs - make sure /root/bin exists
  file:
    path: /root/bin
    state: directory
    owner: root
    group: root
    mode: 750

- name: Cleanlogs - copy script to /root/bin
  copy:
    owner: root
    mode: 755
    src: ../files/root/bin/clean-exa-run-logs.sh
    dest: /root/bin/clean-exa-run-logs.sh
    backup: yes

- name: Cron - Clean up exa-run logs
  cron:
    name: "clean-exa-run-logs"
    state: "present"
    minute: "4"
    backup: "yes"
    job: "/root/bin/clean-exa-run-logs.sh 2>&1 >> /var/log/clean-exa-run-logs"
